.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem;
  box-sizing: content-box;
  font-size: 2rem;
  line-height: 4rem;
  .logo-container {
    display: flex;
    .align-logo {
      display: flex;
      align-items: center;
    }
  }
}
